@{
    ViewData["Title"] = "Viajei";
}


    
<h4 class="text-center">Top destinos mais buscados hoje no Brasil</h4>
<br>



<div class="row padding">
<br>
<div class='col-md-3'>
        <div class="card text-white">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Centro_SP2.jpg/1200px-Centro_SP2.jpg">
        <div class="card-img-overlay">
        <h5 class="card-title">São Paulo</h5>
        </div>
        </div>
        </div>


<div class='col-md-3'>
        <div class="card text-white">
        <img class="card-img-top" src="https://www.palladiumhotelgroup.com/content/dam/palladium/images/guia-destino/bah%C3%ADa/portada-bahia.jpg">
        <div class="card-img-overlay">
        <h5 class="card-title">Bahia</h5>
        </div>
        </div>
        </div>


<div class='col-md-3'>
        <div class="card text-white">
          <img class="card-img-top" src="https://mid.curitiba.pr.gov.br/2022/00345086.jpg">
            <div class="card-img-overlay">
              <h5 class="card-title">Curitiba</h5>
            </div>
        </div>
        </div>


<div class='col-md-3'>
        <div class="card text-white">
          <img class="card-img-top" src="https://vemvoar.voeazul.com.br/wp-content/uploads/2018/10/conheca-salvador-e-se-apaixone-pela-capital-baiana.jpeg">
        <div class="card-img-overlay">
          <h5 class="card-title">Salvador</h5>
        </div>
        </div>
        </div>



</div>


<br>
<h4 class="text-center">Compre tudo para a sua viagem na Viajei</h4>
<br>

<div class="container">
<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Como comprar na Viajei?</h5>
    <p class="card-text">Na Viajei você pode comprar tudo o que precisa para as suas férias. Primeiro, insira a informação da sua viagem no buscador. Compare entre centenas de opções e escolha a que melhor se adapta aos seus planos, clicando em Comprar. Cadastre os dados dos passageiros, selecione o meio de pagamento e insira demais informações necessárias. Aproveite as ofertas e promoções da Viajei! Por último, clique novamente em Comprar e receba os vouchers no seu e-mail para começar a desfrutar da sua viagem.</p>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Documentação necesssária para comprar e viajar</h5>
    <p class="card-text">Para comprar a sua viagem na Viajei, você deve ter os números dos documentos de identidade, os nomes, os sobrenomes e as datas de nascimento dos passageiros. Antes de viajar, revise o detalhe da sua reserva em Minha Conta e saiba quais são os vistos e vacinas obrigatórios no país de destino. Isso inclui as escalas nas viagens de avião e os tours que você realizar durante a sua viagem. Se uma criança precisar viajar sozinha ou acompanhada, deverá contar com uma autorização especial para sair do país.</p>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">É possível alterar ou cancelar uma compra?</h5>
    <p class="card-text">Na Viajei você pode fazer a alteração ou o cancelamento de uma reserva, mas leve em consideração que alguns provedores ou tarifas não permitem ou cobram um custo adicional para isso. Em voos, hotéis e carros, você só pode fazer alterações no mesmo provedor. Você também pode cancelar uma reserva para todos ou para alguns dos passageiros. O que você não pode fazer é alterar o titular da reserva. Lembre-se de revisar as políticas de alteração e cancelamento da sua reserva em Minha Conta.</p>
  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Por que devo escolher a Viajei para a minha viagem?</h5>
    <p class="card-text">A Viajei é uma das agências de viagens online com maior trajetória na América Latina e recomendada por milhares de viajantes. Aproveite as ofertas e promoções no nosso site e conheça o mundo todo. Compre sua viagem na Viajei através da web ou da app. Se você tem alguma dúvida ou quer mudar algo sobre a sua viagem, você pode fazê-lo em Minhas Viagens. Viaje com a confiança de que você pode contar conosco para o que precisar.</p>
  </div>
</div>
</div>